<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
    .custom-bg-color {
            background-color: #CDD7E1;

     }

</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light custom-bg-color">
    <a class="navbar-brand" href="#">Wallet App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/home}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/divisas}">Divisas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/transacciones}">Transacciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/administrador}">Administrador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/administradorBilleteras}">Administrador Billeteras</a>
            </li>
        </ul>
        <span>Hola <span sec:authentication="principal.username"> </span> </span>
        <a th:href="@{/logout}" class="navbar-text" style="color: red">
            Cerrar Sesion
        </a>
    </div>
</nav>


<div class="container">


    <h2 th:if="${#lists.isEmpty(billeteras)}">Parece que no tienes ninguna billetera aun!</h2>
    <form method="POST" th:action="@{/home/createWallet}">
    <button class="btn btn-success" type="submit">Crear wallet</button>
    </form>


    <div th:if="${not #lists.isEmpty(billeteras)}">



    <h2>Billeteras</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">HASH</th>
            <th scope="col">ACCION</th>
            <th scope="col">ACCION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${billeteras.size != null}" th:each="billetera:${billeteras}">
            <td th:text="${billetera.id}"></td>
            <td th:text="${billetera.hash}"></td>
            <td><a  class="btn btn-primary" th:href="@{home/verBilletera/{id} (id=${billetera.id}) }">Ver Billetera</a> </td>
            <td><a  class="btn btn-primary" th:href="@{home/depositarCripto/{id} (id=${billetera.id}) }">Depositar Cripto</a> </td>

        </tr>
        </tbody>
    </table>


</div>

</div>
<!--
<div class="container">
    <form method="POST" th:action="@{/home/depositar}" th:object="${cripto}">
        <input type="text" required class="input" th:field="*{nombre_divisa}" placeholder="Nombre" />
        <input type="number" required class="input" th:field="*{valor_divisa}" placeholder="valor" />
        <input type="number" required class="input" th:field="*{cantidad_divisa}" placeholder="cantidad" />
        <button type="submit">Crear wallet</button>
    </form>

</div>
-->


</body>
</html>